 body{
    background-size: cover;
    background-position: center;    
}
.heading{
    width: 100%;
}
.object_name{
    font-size: 15px;
    font-weight: bold;
}
canvas{
    border-radius: 10px;
    box-shadow: 7px 7px 7px white;
    background-color: darkblue;
}